[submodule "CPT-180-Clion-Linked-List-Struct"]
	path = CPT-180-Clion-Linked-List-Struct
	url = git@github.com:WCCCEDU/CPT-180-Clion-Linked-List-Struct.git
[submodule "CPT-180-Clion-Simple-Program"]
	path = CPT-180-Clion-Simple-Program
	url = git@github.com:WCCCEDU/CPT-180-Clion-Simple-Program.git
